# Ignorar todo por defecto
*

# Permitir directorios (necesario para navegar la estructura)
!*/

# Permitir archivos específicos
!*.py
!*.ipynb
!*.tex
!*.png
!*.gitkeep
!results/colorings.csv
!notebooks/colorings.ipynb

# Permitir archivos de configuración del proyecto
!.gitignore
!README.md
!environment.yml